.body {
  background-color: #ffffff;
  color: #757575;
}

/* Top Line */
.header-style {
}
/* Логотип верхний */
.logo-web-studio-header {
}
/* Логотип нижний */
.logo-web-studio-footer {
}
.logo-Web {
  color: #2196f3;
}
.logo-Studio {
  color: black;
}
.logo-Studio-white {
  color: #ffffff;
}
.logo-Studio-black {
  color: #000000;
}
/* верхняя навигация */
.head-nav {
  list-style: none;
}
/* студия */
.head-nav-stydu {
  color: #212121;
  text-decoration: none;
}
/* потрфолио */
.head-nav-portfolio {
  color: #212121;
  text-decoration: none;
}
/* контакты */
.head-nav-contact {
  color: #212121;
  text-decoration: none;
}
.head-nav-stydu:focus,
.head-nav-stydu:hover {
  color: #2196f3;
}
.head-nav-portfolio:focus,
.head-nav-portfolio:hover {
  color: #2196f3;
}
.head-nav-contact:hover,
.head-nav-contact:focus {
  color: #2196f3;
}
/* телефон */
.telephone {
  text-decoration: none;
  color: #757575;
}
/* почта */
.mail {
  text-decoration: none;
  color: #757575;
}
.telephone:hover {
  color: #2196f3;
}
.mail:hover {
  color: #2196f3;
}
/* линия */
.line {
}
/* Первая секция */
.section-one {
}
/* основная картинка*/
.section-one-img {
}
/* картинка тень */
.section-one-img-ten {
}
/* Основной текст */
.section-one-text {
  color: #ffffff;
}
/* ссылка заказ */
.section-one-zakaz {
  color: #ffffff;
}
/* Преимущества */
.section-two {
}
/* внимание */
.section-two-detal {
  list-style: none;
}
.section-two-detal-img {
}
.section-two-zag {
  color: #212121;
}
.section-two-text {
  color: #757575;
}
/* Пунктуальность */
.section-two-puntual {
  list-style: none;
}
.section-two-puntual-img {
}
/*  Планирование */
.section-two-plan {
  list-style: none;
}
.section-two-plan-img {
}
/* Технологии */
.section-two-tehno {
  list-style: none;
}
.section-two-tehno-img {
}
/* Чем мы занимаемся */
.sectione-title {
  color: #212121;
}
/* Десктопные приложения */
.section-three-desctop {
  list-style: none;
}
.section-three-desctop-img {
}
.section-three-text {
  color: #ffffff;
}
/* Мобильные приложения */
.section-three-mobolapp {
  list-style: none;
}
.section-three-mobolapp-img {
}
/* Дизайнерские решения */
.section-three-dizain {
  list-style: none;
}
.section-three-dizain-img {
}
/* Наша команда */
.section-four {
  background: #f5f4fa;
}
.section-four-oll {
  list-style: none;
}
.section-four-name {
  color: #212121;
}
.section-four-work {
  color: #757575;
}
/* John Smith */
.section-four-john-smith {
}
.section-four-john-smith-img {
}
/* Marta Stewart */
.section-four-marta-stewart {
}
.section-four-marta-stewart-img {
}
/* Robert Jakis */
.section-four-robert-jakis {
}
.section-four-robert-jakis-img {
}
/* Martin Doe */
.section-four-martin-doe {
}
.section-four-martin-doe-img {
}
/* ПОДВАЛ */
.footer {
  background: #2f303a;
}
.address {
}
.address-text {
  color: #ffffff;
}
.address-mail {
  color: rgba(255, 255, 255, 0.6);
}
.address-telephone {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social {
}
.footer-social-name {
  color: #ffffff;
}
.footer-social-contact {
  list-style: none;
}

.footer-e-mail-nput {
}
.footer-e-mail-nput-name {
  color: #ffffff;
}
.footer-ckick {
  background-color: #2196f3;
  color: #ffffff;
}
.footer-input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.fa-paper-plane {
  color: #ffffff;
}
.line-footer {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* ПоРТФОЛИО */
/* меню */
.button {
  background-color: #f5f4fa;
  color: #212121;
}
.button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.porfolio-section {
}
.porfolio-section-meny {
  list-style: none;
}
/* основные картинки */
.porfolio-section-two {
}
.porfolio-section-two-oll {
  list-style: none;
}
.porfolio-section-two-title {
  color: #212121;
}
.porfolio-section-two-text {
  color: #757575;
}

/* технокряк */
.porfolio-section-two-ollblock-tehno {
}
.porfolio-section-two-tehno-img {
}

/* Постер */
.porfolio-section-two-ollblock-poster {
}
.porfolio-section-two-poster-img {
}
/* ресторан */
.porfolio-section-two-ollblock-restoran {
}
.porfolio-section-two-restoran-img {
}
/* проект прайм */
.porfolio-section-two-ollblock-prime {
}
.porfolio-section-two-prime-img {
}
/* проект вокс */
.porfolio-section-two-ollblock-box {
}
.porfolio-section-two-box-img {
}
/* inspiration */
.porfolio-section-two-ollblock-inspiration {
}
.porfolio-section-two-inspiration-img {
}
/* издание */
.porfolio-section-two-ollblock-izdanie {
}
.porfolio-section-two-izdanie-img {
}
/* проект лаб */
.porfolio-section-two-ollblock-lab {
}
.porfolio-section-two-lab-img {
}
/*  growing */
.porfolio-section-two-ollblock-growing {
}
.porfolio-section-two-growing-img {
}
